*{box-sizing: border-box; margin: 0; padding: 0;}

body {
    background: rgb(0, 135, 36);
    background: linear-gradient(0deg, rgb(6, 115, 35) 0%, rgb(0, 48, 13) 100%);
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Domine', serif;
    z-index: -1;
}

#logo{
    width: 52px;
    position: absolute;
    top: 12px;
    left: 1px
}
#reset-stages{
    color: #ffffff;
    font-size: 15px;
    text-shadow: var(--shadow);
}
h3 {
    font-size: 15px;
    color: #022772;
}
.welcome{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}
/* my colours */
:root {
    --main-background: -webkit-linear-gradient(86deg, #ffbb00 1%, #04ff00 99%);
    --shadow: rgb(225, 255, 0) 1px 1px 20px; 
}
/*  */

#registration-form{
    background: rgba(0, 255, 255, 0.274);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
        transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 2;
    text-shadow: var(--shadow);
}

.mandatory-field{
    color: red;
    font-weight: 1000;
}


#bookface{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 45px;
}

#error-messsage{
    color: red;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translatex(-50%);
}

/* h2{
    color: white;
    font-size: 13x;
    position: absolute;
        top: 30%;
        left: 50%;
        transform: translatex(-50%);
} */

header{
    background-color: rgb(20 42 0);
    /* background-color: rgb(0, 122, 37); */
    height: 75px;
    border-bottom: 1px solid rgb(0, 255, 21);
}

span{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 58px;
}

footer{
    position: absolute;
    bottom: 0px;
    /* background-color: rgb(0, 56, 17); */
    background-color: rgb(20 42 0);
    /* rgb(20 42 0); */
    border-top: 1px solid rgb(0, 255, 21);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}
h5{
    color: white;
}


input{
    border-radius: 10px;
    border: 1px solid white;
}

button{
    background: rgb(15, 77, 34);
    color: white;
    padding: 2px 18px 3px 18px;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px #000033 solid;
    border-bottom: 1px #000033 solid;
    border-radius: 10px;
    margin: 10px;
}

button:hover{
    background: rgb(0, 98, 30);
}

