*{box-sizing: border-box; margin: 0; padding: 0;}

body {
    background: rgb(0, 135, 36);
        background: linear-gradient(0deg, rgba(0, 135, 36, 1) 0%, rgba(0, 62, 17, 1) 100%);
        height: 100vh;
    overflow: hidden;
    font-family: 'Domine', serif;
    z-index: -1;
}

#logo{
    width: 52px;
    position: absolute;
    top: 12px;
    left: 1px
}
#reset-stages{
    color: #ffffff;
    font-size: 15px;
    text-shadow: var(--shadow);
}
h3 {
    font-size: 15px;
    color: #022772;
}
.welcome{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}
/* my colours */
:root {
    --main-background: -webkit-linear-gradient(86deg, #ffbb00 1%, #04ff00 99%);
    --shadow: rgb(225, 255, 0) 1px 1px 20px; 
    
}
/*  */

#registration-form{
    background: rgba(0, 255, 255, 0.274);
    border-radius: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
        transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 2;
    text-shadow: var(--shadow);
}

.mandatory-field{
    color: red;
    font-weight: 1000;
}


#bookface{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 45px;
}

#error-messsage{
    color: red;
    font-size: 35px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translatex(-50%);
}

/* temporary */
h2{
    color: white;
    font-size: 13x;
    position: absolute;
        top: 30%;
        left: 50%;
        transform: translatex(-50%);
}

header{
    background-color: rgb(0, 122, 37);
    height: 75px;
    border-bottom: 1px solid rgb(0, 255, 21);
}

span{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 58px;
}

footer{
    position: absolute;
    bottom: 0px;
    background-color: rgb(0, 56, 17);
    border-top: 1px solid rgb(0, 255, 21);
    height: 40px;
    width: 100%;
    display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
}
h5{
    color: white;
}


input{
    border-radius: 10px;
    border: 1px solid white;
}

button{
    background: rgb(15, 77, 34);
    color: white;
    padding: 2px 18px 3px 18px;
    border-top: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px #000033 solid;
    border-bottom: 1px #000033 solid;
    border-radius: 10px;
    margin: 10px;
}

button:hover{
    background: rgb(0, 98, 30);
}

#gridsetup{
    display: grid;
    grid-template-columns: 52px 1fr;
    height: 100vh;
}
#sidebar{
    background-color: rgba(105, 225, 0, 0.467);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#no-profile-pic{
    width: 52px;
    border-radius: 15px;
    border: 3px solid orange;
}
#signout{
    position: absolute;
    bottom: 50px;
    width: 52px;
}
#page-test{
    position: absolute;
    top: 25px;
    right: 10px;
    color: white;
    font-size: 15px;
}
/* input[type="file"] {
    display: none;
} */

.file-upload {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    background: rgba(0, 255, 255, 0.274);
    padding: 50px;
    border-radius: 20px;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* i{
    background: rgb(0, 114, 34);
    border: 2px solid white;
    border-radius: 15px;
    padding: 1px 10px 1px 10px;
    color: #ffffff;
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
} */
#upload-img{
    width: 52px;
}
#upload-button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    margin: 0;
}
#backdrop {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    position: fixed;
    top: 0;
    opacity: 0.6;
    overflow: hidden;
    z-index: 1;
}

#profile{
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#thebio{
    color: white;
    display: flex;
    justify-content: center;
}

/* earth */
#maincont {
    align-items: center;
    background-color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.planet-container {
    border-radius: 50%;
    box-shadow: 5px -3px 10px 3px #5e90f1;
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 500px;
    z-index: 1;
}
.night {
    animation: rotate-night 80s linear infinite;
    background-image: url(night.jpeg);
    background-size: 200%;
    height: 500px;
    position: absolute;
    width: 500px;
    z-index: 2;
}
.day {
    animation: rotate-day 80s linear infinite;
    background-image: url(day.jpeg);
    background-size: 200%;
    border-left: solid 1px black;
    border-radius: 50%;
    box-shadow: 5px 0 20px 10px #040615 inset;
    height: 500px;
    margin-left: 110px;
    position: absolute;
    width: 500px;
    z-index: 3;
}
.clouds {
    animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
    background-image: url(clouds.jpeg);
    background-size: 200%;
    border-radius: 50%;
    box-shadow: 5px 0 20px 10px #040615 inset, -9px 0px 20px 10px #5e90f1 inset;
    height: 500px;
    margin-left: 100px;
    opacity: 0.45;
    position: absolute;
    width: 500px;
    z-index: 4;
}
.inner-shadow {
    background: transparent;
    border-radius: 50%;
    box-shadow: -5px 0 10px 1px #152b57 inset, 5px 0 10px 1px #040615 inset;
    height: 500px;
    margin-left: 0;
    position: absolute;
    width: 500px;
    z-index: 5;
}
@keyframes rotate-day {
    0% {
        background-position: 120% 0;
    }

    100% {
        background-position: -80% 0;
    }
}
@keyframes rotate-night {
    0% {
        background-position: calc(120% + 120px) 0;
    }

    100% {
        background-position: calc(-80% + 120px) 0;
    }
}
@keyframes spin-clouds {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}