#no-profile-pic-large{
    object-fit: cover;
        width: 130px;
        height: 130px;
        border-radius: 25px;
        border: 2px solid greenyellow;
    margin: 10px;
}


#profile-name {
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

#profile-email {
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}
