#big-friends-div{
    margin-top: 80px;
    height: 600px;
    overflow-y: auto;
}


#friends-div{
    background-color: rgb(200, 255, 116);
    border: 1px dashed green;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#friends-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid orange;
    margin: 10px;
}


#no-friends{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#no-friends-text{
    font-size: 15px;
    color: white;
    margin-top: 100px;
}

#friends{
    font-size: 15px;
    color: white;
    padding: 20px;
}

/* wannabees */
#allfriends-and-wannabees{
    display: grid;
    grid-template-columns: 49% 1fr 49%;
    overflow-y: auto;
}

#no-tobe-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46vw;
}

#no-tobe-friends-text{
    font-size: 15px;
    color: white;
    margin-top: 120px;
}

#big-tobe-friends-div{
    margin-top: 100px;
    height: 600px;
    overflow-y: auto;
}

#tobe-friends-div {
    background-color: rgb(255, 168, 122);
    border: 1px dashed green;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}


#separating-line{
    width: 5px;
    height: 100vh;
    background-color: rgb(0, 35, 0);
}