#messages-divs {
    display: grid;
    grid-template-columns: 30% 1fr;
}

#onlinefriends{
    height: 87vh;
    background-color: rgb(193, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

#chat-and-textarea{
    min-height: 79.5vh;
}
#chat-and-textarea-subdiv{
    display: grid;
    grid-template-rows: 90% 1fr;
    min-height: 79.5vh;
}
#choose-a-friend-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#choose-a-friend{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 58px;
    font-size: 18px;
}


