#messages-divs {
    display: grid;
    grid-template-columns: 30% 1fr;
}

#onlinefriends{
    height: 100%;
    background-color: rgb(193, 255, 255);
}

#chat-and-textarea{
    /* display: grid;
    grid-template-rows: 90% 1fr; */
    min-height: 79.5vh;
}
#chat-and-textarea-subdiv{
    display: grid;
    grid-template-rows: 90% 1fr;
    min-height: 79.5vh;
}



