#chat-div {
    background-image: url('chat-div-background.jpg');
    width: 100%;
    background-size: cover;
    border-top: 3px solid green;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
}

#the-messages-div {
    overflow-y: auto;
    height: 270px;
    width: 80%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    /* box-shadow: inset 0 0 10px #f8a100; */
}


#actual-message {
    color: white;
    text-align: left;
    font-size: 20px;
}

#first_last_message {
    font-size: 10px;
    color: grey;
}

#date_message {
    font-size: 10px;
    color: rgb(0, 0, 0);
}

#message-img-pic{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid orange;
    margin: 10px;
}
#message-totheleft{
    display: flex;
    justify-content: flex-end;
    animation: message 500ms ease-in-out;
}

#message-and-img-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #44a1ff;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    justify-content: center;
}
#message-and-img-div-corner {
    position: relative;
    z-index: 0;
    bottom: -64px;
    right: 34px;
    height: 15px;
    width: 15px;
    background: linear-gradient(to bottom, #46a1ff 0%, #46a1ff 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 21px;
}


#message-totheright {
    display: flex;
    justify-content: flex-start;
    animation: message 500ms ease-in-out;
}
#response-and-img-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #35df5a;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    justify-content: center;
}
#response-and-img-div-corner {
    position: relative;
    z-index: 0;
    bottom: -64px;
    right: 202px;
    height: 15px;
    width: 15px;
    background: linear-gradient(to bottom, #36df5a 0%, #36df5a 100%);
    background-attachment: fixed;
    border-bottom-right-radius: 21px;
}

@keyframes message {
    0% {
        opacity: 0;
        scale: 0.1;
        border-radius: 100px;
    }

    100% {
        opacity: 1;
        scale: 1;
        border-radius: 30px;
    }
}