#onlineusers-toggle{
    position: absolute;
    top: 100px;
    right: -75px;
    transition: 1s;
}

#arrow-onlineusers-img{
    width: 130px;
}

#arrow-text-onlineusers{
    position: absolute;
    top: 26px;
    right: 0px;
    display: flex;
    flex-direction: row;
}

#arrow-text-onlineusers-button{
    color: rgb(1, 77, 0);
    font-size: 12px;
}

#onlineusers-toggle:hover {
    position: absolute;
    top: 100px;
    right: 0;
    transition: 1s;
}


#online-users-bar{
    position: absolute;
    top: 200px;
    right: 0;
    background-color: rgb(196, 255, 192);
    border: 2px solid green;
    border-radius: 10px;
    width: 200px;
    height: 500px;
    overflow-y: auto;
    text-align: center;
}