#otherpeoplecomponent{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 60px;
        font-size: 55px;
}

#mutual-friends{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 60px;
        font-size: 35px;
}

