#other-messages-div {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
}

#no-messages {
    color: rgb(0, 215, 75);
    font-size: 15px;
}

#online-friends-list{
    display: flex;
    flex-direction: column;
}

.online-friends{
    background-color: rgb(37, 0, 54);
    border-radius: 10px;
    height: 42px;
    width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.online-friends-selected {
    background-color: rgb(202, 87, 255);
    border-radius: 10px;
    height: 42px;
    width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#online-friends-img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(0, 255, 102);
    margin: 5px;
}

#online-friends-name{
    font-size: 10px;
    color: white;
}

#friends-who-are-online{
    color: green;
    font-size: 15px;
}
