#findpeople{
    color: white;
}

#theFindPeopleDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-decoration: none;
}

#threepersons{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid orange;
}

#threePersonsNames{
    color: white;
    font-size: 20px;
}

#threePersonsDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#newestpeople{
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 40px;
    font-size: 40px;
    margin: 20px;
}

#noresults{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 40px;
        font-size: 20px;
        margin: 20px;
}


/*  */
#theArrayOfFoundPeople-img-name{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center
}
#theArrayOfFoundPeople {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    height: 400px;
    margin: 20px;
}

#theArrayOfFoundPeopleImgs {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid orange;
}

#theArrayOfFoundPeopleNames {
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
    font-size: 15px;
    text-decoration: none;
}

/*  */
#otherprofilecompponentimg{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid orange;
}

#otherpeoplecomponentdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}
#otherpeoplecomponentinfo{
    background: var(--main-background);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 30px;
        font-size: 15px;
        text-decoration: none;
    text-align: center;
}

#otherpeoplecomponentinfobio{
    color: white;
    width: 400px;
    font-size: 15px;
    text-align: center;
}