#findpeople{
    color: white;
}

#theFindPeopleDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

#threepersons{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid orange;
}

#threePersonsNames{
    color: white;
    font-size: 20px;
}

#threePersonsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#newestpeople{
    background: var(--main-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 40px;
    font-size: 40px;
    margin: 20px;
}